html, body {
    height:100%; 

}

body { 
    display: flex;
    flex-direction: column;
    background-color: #0d0b0b;
    color: #F7F7F7;
    font-family: "ProvidenceSansPro", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
}

.content { 
    flex: 1 0 auto; 
}

@font-face { 
    font-family: "ProvidenceSansPro";
    src: url('fonts/Providence\ Sans\ Regular.ttf')
}

#header { 
    color: #F7F7F7;
    display: flex;
    gap: 75px;
    flex-direction: column;
    padding-bottom: -10 px;

}

#titleContainer { 
    font-size: x-large;
    color: #F7F7F7;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "ProvidenceSansPro", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 20px;
}

.rotated { 
    transform:rotate(-13deg);
}

.shrink { 
    transition: all .2s ease-in-out; 
    -webkit-transition: all .4s ease;
    }
    
.shrink:hover { 
    transform: scale(0.9); 
    }

#title { 
    font-family: "ProvidenceSansPro", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 60px;
    color: #e4baba;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 31px;

}

.buttonsAndResults { 
    color: #F7F7F7;
    display: flex;
    flex-direction: row;
    padding-top: 100px;
    font-size: 18px;
}
#buttonsContainer { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    gap: 70px;
}

button { 
    display: flex;
    font-family: "ProvidenceSansPro", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 36px;
    color: #F7F7F7;
    background-color: #0d0b0b;
    border-color: antiquewhite;
    border-radius: 25px;
    padding: 0px 54px;
    height: 88px;
    align-items: center;
    justify-content: center;
    /* min-width: 300px; */
}

button:hover { 
    border-color: rgb(216, 229, 255);
    border-width: 15px;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;

}

#resultsContainer { 
    display: flex;
    flex-direction: column
}

#selections { 
    color: #F7F7F7;
    font-family: "ProvidenceSansPro", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding: 70px 0px;
    padding-bottom: 0px;
    font-size: 22px;
    justify-content: center;
    align-items: center;
  
}

#winnerContainer { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: auto;
    color: burlywood;

}

#playAgainButton { 
    font-family: "ProvidenceSansPro", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 48px;
    color: #F7F7F7;
    background-color: #231F1F;
    border-color: antiquewhite;
    border-radius: 25px;
    border: 2px solid #e0f3c6;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}


#finalWinner { 
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
}



.winnerDeclaration { 
    display: flex;
    padding: 200px 0px;
    justify-content: center;
    padding-left: auto;
    padding-right: auto;
    font-size: 40px;
    color: yellow;
}

.playAgainContainer { 
    display: flex;
    justify-content: center;
}

#scoreContainer { 
    color: #F7F7F7;
    font-family: "ProvidenceSansPro", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-large;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 46px;
    border-width: 2px;
    gap: 449px;
    justify-content: space-around;
    padding-left: 60px;
    padding-right: 60px;
    margin-right: 20px;
    margin-left: 20px;
}

#finalWinner { 
    display: flex;
    flex-direction: column;

}

#description {
    font-size: x-large;
    display: block;
    padding-left: 0px;
    font-stretch: 200%;
    font-family: "ProvidenceSansPro", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transform: rotate(-13deg);
    padding-bottom: 5px;
    color: #e4baba;
    padding-top: 0px;
    margin-left: 40px;
}

#containers { 
    padding-top: 50px;
}